@page "/"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner

<div class="bg-white shadow-lg p-2">
    <h1 class="text-black
         fs-5 mb-0">
        <strong>
            Super Sport | Trang điều khiển
        </strong>
    </h1>
</div>

@if (IsLoading == true)
{
    <div id="container">
        <SfSpinner @bind-Visible="@IsLoading">
        </SfSpinner>
    </div>
}
else
{
    <div class="px-4">
        
    </div>
}


@code {
    private bool IsLoading { get; set; } = false;

    private List<OrderItem>? Orders { get; set; } = new List<OrderItem>();
    private List<ProductItem>? Products { get; set; } = new List<ProductItem>();

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        // Lấy số lượng đơn hàng
        // Lấy số lượng sản phẩm
        try
        {
            // Lấy số lượng sản phẩm
            ServiceModel<ProductList>? resultProduct = await productService.GetProducts();
            // Lấy số lượng đơn hàng
            ServiceModel<OrderList>? resultOrder = await orderService.GetOrders();

            if (resultProduct.Success == true && resultProduct.Data is not null)
            {
                Products = resultProduct.Data.Products;
            }

            if (resultOrder.Success == true && resultOrder.Data is not null)
            {
                Orders = resultOrder.Data.Orders;
            }
        }
        catch (Exception)
        {
            // Lỗi kết nối máy chủ
            await DisplayDialog("Kiểm tra lại kết nối máy chủ", "Lỗi lấy dữ liệu");
        }
        finally
        {
            IsLoading = false;
        }
    }

    private async Task DisplayDialog(string content, string title)
    {
        await DialogService.AlertAsync(content, title);
    }
}