
<div class="row category">
    <div class="col">
        <div class="list-group list-group-horizontal">
            
            @if(cate!=null)
            {
                <div class=""><a href="/products">Trang Chủ</a></div>
                foreach (var item in cate.Categories)
                {
                    <div class=""><a href="/category/@item.Id">@item.Name</a></div>
                }
            }
         </div>
    </div>
</div>

@code {
    private CategoryList? cate;

    protected override async Task OnInitializedAsync()
    {
        ServiceModel<CategoryList> result = await categoryService.GetCategories(1,1);

        if (result.Success == true)
        {
            cate = result.Data;
            
        }
    }
}
