<div class="row category">
    <div class="col">
        <div class="list-group list-group-horizontal">
            <div class="category-item"><a href="/">Trang Chủ</a></div>
            <div class="category-item dropdown">
                <a class="dropdown-toggle">Danh Mục</a>
                @if (cate != null)
                {
                    <ul class="dropdown-menu">
                        @foreach (var item in cate.Categories)
                        {
                            <li class="dropdown-item"><a href="/category/@item.Id">@item.Name</a></li>
                        }
                    </ul>
                }
            </div>
            <div class="category-item"><a href="/news">Tin Tức</a></div>
            <!-- Add other nav items here -->
        </div>
    </div>
</div>

@code {
    private CategoryList? cate;

    protected override async Task OnInitializedAsync()
    {
        ServiceModel<CategoryList> result = await categoryService.GetCategories(1, 1);
        if (result.Success == true)
        {
            cate = result.Data;
        }
    }
}
